@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="px-4 py-12">
        <div class="text-center">
            <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">@ViewData["Title"]</h1>
            <p class="mt-2">You do not have access to this resource.</p>
        </div>

    </div>
</div>
