@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="px-4 py-12">
        <div class="text-center">
            <h1 class="block text-2xl font-bold">@ViewData["Title"]</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>
    </div>
</div>
