@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="prose">
    <p>This is a ASP.NET demo project that uses a differently styled scaffolded ASP.NET Identity UI based on <a href="https://github.com/htmlstreamofficial/preline" class="underline">Preline</a>.</p>

    <p>The intention is to provide a starter kit that can be copied into any ASP.NET project and adapted for your specific use-case.</p>

    <p>The project replaces the builtin use of Bootstrap with <a href="https://www.tailwindcss.com">TailwindCSS</a>.</p>
</div>
