@model string

@if (!String.IsNullOrEmpty(Model))
{
    <div class="pb-3">
        @if (Model.StartsWith("Error"))
        {
            <partial name="_StatusMessageError" for="@Model" />
        }
        else
        {
            <partial name="_StatusMessageSuccess" for="@Model" />
        }
    </div>
}


