<footer class="flex items-center justify-between w-full text-sm">
    <div>
        &copy; 2024 - MinimalIdentityUI - <a asp-area="" asp-page="/Privacy" class="underline">Privacy</a>
    </div>
</footer>